div {
  font-size: absolute-size !important;
}

h3 {
  font-size: 25px !important;
  font-weight: 600 !important;
  line-height: 1.6em !important;
}

legend {
  position: relative !important;
  text-indent: 0 !important;
  overflow: visible !important;
}
