div {
  font-size: absolute-size !important;
}

h3 {
  font-size: 25px !important;
  font-weight: 600 !important;
  line-height: 1.6em !important;
}

legend {
  position: relative !important;
  text-indent: 0 !important;
  overflow: visible !important;
}

.CodeMirror div {
  font-size: 16px !important;
}

.CodeMirror-scroll {
  min-height: 500px;
  max-height: 500px;
}

/* .CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
} */
